.readme
{
  cursor: pointer;
}
#readme
{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  line-height: 200%;
  z-index: 101;
}
#readmeExit
{
  position: relative;
  float: right;
  font-size: 5em;
  right: 5vw;
  top: 5vh;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: #ffffff !important;
  z-index: 102;
}
#readmeExit:hover
{
  cursor: pointer;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: #33ccff !important;
}
#readmeTitle
{
  position: relative;
  top: 15vh;
  margin: auto;
  font-size: 4em;
  font-weight: bold;
  line-height: 120%;
}
#readmeText
{
  position: absolute;
  left: 10vw;
  right: 10vw;
  top: 35vh;
  font-size: 1.5em;
  text-align: left;
  line-height: 120%;
}
.menu
{
  position: fixed;
  /*position: relative;*/
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 100;
  background-color: #000000;
  /*border-left: 3px solid #008060;*/
  border-bottom: 3px solid #33ccff;
  box-shadow: 0px 0px 30px 10px #000000;
  /*border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #008060 0%, #33ccff 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #008060 0%, #33ccff 100%);
  border-image: linear-gradient(to right, #008060 0%, #33ccff 100%);
  border-image-slice: 1;*/
}
.menuItem
{
  position: relative;
  text-align: center;
}
.menuItemMiddle
{
  position: relative;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
#menuTitle
{
  font-size: 2em;
}
.menuBody
{
  display: inline-block;
  padding-left: 1%;
  padding-right: 1%;
}
#about
{
  position: relative;
  padding-top: 32vh;
  margin-top: 4%;
}
#portfolio
{
  position: relative;
  padding-top: 30vh;
}
.down
{
  font-size: 6em;
  margin-bottom: -10vh;
}
.icons
{
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  font-size: 2em;
  color: #ffffff !important;
}
.icons:hover
{
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: #33ccff !important;
}
.active
{
  font-size: 2em;
  color: #33ccff !important;
}
.active:hover
{
  color: #33ccff;
}
.copyright
{
  position: relative;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1em;
  /*z-index: 1000;*/
  text-align: center;
  background-color: #000000;
  border-top: 3px solid #33ccff;
  box-shadow: 0px 0px 30px 10px #000000;
  /*border-top: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #008060 0%, #33ccff 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #008060 0%, #33ccff 100%);
  border-image: linear-gradient(to right, #008060 0%, #33ccff 100%);
  border-image-slice: 1;*/
}
body
{
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  /*background: url(../images/pattern.jpg) center center fixed;*/
  background-color: #666666;
  background-size: cover;
  /*background-size: contain;*/
}
.projectRowTop
{
  position: relative;
  margin-top: 5%;
}
.projectRowBottom
{
  position: relative;
}
.picPosition
{
  position: relative;
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 5%;*/
  margin-bottom: 5%;
}
#me
{
  background: url("../images/me.jpg") no-repeat center center;
  background-size: cover;
  /*background-size: contain;*/
  box-shadow: 0px 0px 30px 10px #000000;
  -ms-transform: rotate(90deg);
   /*IE 9*/
  -webkit-transform: rotate(90deg);
   /*Chrome, Safari, Opera*/
  transform: rotate(90deg);
  /*border: 3px solid #008060;*/
}
.text
{
  position: relative;
  text-align: left;
  font-size: 2em;
}
.link
{
  color: #33ccff !important;
  text-decoration: none !important;
}
.link:hover
{
  color: #33ccff;
  cursor: pointer;
}
.mobileSpace
{
  margin-bottom: 5%;
}
.webLink
{
  display: inline-block;
  width: 30%;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*color: #33ccff !important;*/
  border: 3px solid #ffffff;
  /*border-radius: 50%;*/
  border-radius: 12em;
  font-size: 2em;
  text-decoration: none !important;
}
.webLink:hover
{
  border: 3px solid #33ccff;
  text-decoration: none;
}
.webLink:active
{
  color: #ffffff;
  text-decoration: none;
}
.webLink:visited
{
  color: #ffffff;
  text-decoration: none;
}
.descLinks
{
  position: relative;
  margin-top: 5%;
  width: 90%;
  left: 5%;
}
.title
{
  position: relative;
  font-size: 3em;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 80%;
  left: 10%;
  line-height: 200%;
}
.projectPicPosition
{
  width: 80%;
  height: 50vh;
  display: inline-block;
  box-shadow: 0px 0px 30px 10px #000000;
}
#programmerQAPic
{
  background: url("../images/programmerQA.png") no-repeat center center;
  background-size: cover;
}
#typeFasterPic
{
  background: url("../images/typeFaster.png") no-repeat center center;
  background-size: cover;
}
#tic-tac-toePic
{
  background: url("../images/tic-tac-toe.png") no-repeat center center;
  background-size: cover;
}
#converterPic
{
  background: url("../images/converter.png") no-repeat center center;
  background-size: cover;
}
#mazePic
{
  background: url("../images/maze.png") no-repeat center center;
  background-size: cover;
}
#clickItPic
{
  background: url("../images/clickIt.png") no-repeat center center;
  background-size: cover;
}
@media only screen and (max-device-width: 480px)
{
  #readmeTitle
  {
    top: 10vh;
    font-size: 3em;
    line-height: 120%;
  }
  #readmeText
  {
    line-height: 100%;
    font-size: 1.5em;
  }
  .mobileSpace
  {
    margin-bottom: 20%;
  }
  .picPosition
  {
    position: relative;
    width: 80vw;
    height: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .text
  {
    position: relative;
    display: block;
    width: 80vw;
    left: 10%;
    font-size: 2em;
  }
  .title
  {
    font-size: 2.5em;
  }
  #about
  {
    margin-top: -5%;
  }
}
@media only screen and (max-device-width: 480px) and (orientation : landscape)
{
  .menu
  {
    position: relative;
  }
  .picPosition
  {
    width: 50vw;
    height: 50vw;
  }
  #about
  {
    margin-top: -5%;
  }
}
