@font-face
{
   font-family: Earth Orbiter;
   src: url(../fonts/earthorbiter.ttf);
}
.readme
{
  cursor: pointer;
}
#readme
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  line-height: 200%;
}
#readmeExit
{
  position: relative;
  float: right;
  font-size: 5em;
  right: 5vw;
  top: 5vh;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: black !important;
  z-index: 1000;
}
#readmeExit:hover
{
  cursor: pointer;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: #00e6ac !important;
}
#readmeTitle
{
  position: relative;
  top: 15vh;
  margin: auto;
  /*text-align: center;*/
  font-size: 4em;
  font-weight: bold;
}
#readmeText
{
  position: absolute;
  left: 10vw;
  right: 10vw;
  top: 30vh;
  font-size: 2em;
  text-align: left;
  line-height: 200%;
}
.menu
{
  /*position: fixed;*/
  position: relative;
  /*width: 100%;*/
  padding-top: 1%;
  padding-bottom: 1%;
  /*z-index: 1000;*/
  background-color: black;
  /*border-left: 3px solid #008060;*/
  border-bottom: 3px solid #00e6ac;
  box-shadow: 0px 0px 30px 10px #000000;
  /*border-bottom: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #008060 0%, #00e6ac 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #008060 0%, #00e6ac 100%);
  border-image: linear-gradient(to right, #008060 0%, #00e6ac 100%);
  border-image-slice: 1;*/
}
.icons
{
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  font-size: 2em;
  color: white !important;
}
.icons:hover
{
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
  color: #00e6ac !important;
}
.active
{
  font-size: 2em;
  color: #00e6ac !important;
}
.active:hover
{
  color: #00e6ac;
}
.copyright
{
  position: relative;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 1em;
  /*z-index: 1000;*/
  text-align: center;
  background-color: black;
  border-top: 3px solid #00e6ac;
  box-shadow: 0px 0px 30px 10px #000000;
  /*border-top: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #008060 0%, #00e6ac 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #008060 0%, #00e6ac 100%);
  border-image: linear-gradient(to right, #008060 0%, #00e6ac 100%);
  border-image-slice: 1;*/
}
body
{
  color: white;
  text-align: center;
  font-family: sans-serif;
  /*background: url(../images/pattern.jpg) center center fixed;*/
  background-color: #333333;
  background-size: cover;
  /*background-size: contain;*/
}
.item
{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
.itemContact
{
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}
.itemSmall
{
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}
.topic
{
  border-right: 3px solid #00e6ac;
}
.picPosition
{
  position: relative;
  font-size: 15vw;
  width: 15vw;
  height: 15vw;
  margin-left: auto;
  margin-right: auto;
}
#about
{
  background: url("../images/me.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 30px 10px #000000;
  /*-ms-transform: rotate(90deg);*/
  /* IE 9 */
  /*-webkit-transform: rotate(90deg);*/
  /* Chrome, Safari, Opera */
  /*transform: rotate(90deg);*/
  /*border: 3px solid #008060;*/
}
.topicText
{
  position: relative;
  font-size: 2em;
}
.text
{
  position: relative;
  text-align: left;
  font-size: 1.5em;
}
.link
{
  color: #00e6ac !important;
  text-decoration: none !important;
}
.link:hover
{
  color: #00e6ac;
  /*text-decoration: underline !important;*/
}
.mobileSpace
{
  /*margin-bottom: 3%;*/
}
.webLink
{
  display: inline-block;
  width: 30%;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*color: #00e6ac !important;*/
  border: 3px solid #ffffff;
  /*border-radius: 50%;*/
  border-radius: 12em;
  font-size: 2em;
  text-decoration: none !important;
}
.webLink:hover
{
  border: 3px solid #00e6ac;
  text-decoration: none;
}
.webLink:active
{
  color: #d1e0e0;
  text-decoration: none;
}
.webLink:visited
{
  color: #d1e0e0;
  text-decoration: none;
}
.descLinks
{
  position: relative;
  margin-top: 5%;
  width: 90%;
  left: 5%;
}
.pdf
{
  margin-top: 10%;
  box-shadow: 0px 0px 30px 10px #000000;
}
.title
{
  position: relative;
  font-size: 2.5em;
  color: white;
  border-bottom: 1px solid white;
  width: 90%;
  left: 5%;
  line-height: 200%;
}
.desc
{
  position: relative;
  font-size: 1.2em;
  color: white;
  line-height: 200%;
  text-align: left;
  width: 90%;
  left: 5%;
}
.projectPicPosition
{
  width: 90%;
  height: 30vh;
  display: inline-block;
  box-shadow: 0px 0px 30px 10px #000000;
}
#programmerQAPic
{
  background: url("../images/programmerQA.png") no-repeat center center;
  background-size: cover;
}
#typeFasterPic
{
  background: url("../images/typeFaster.png") no-repeat center center;
  background-size: cover;
}
#tic-tac-toePic
{
  background: url("../images/tic-tac-toe.png") no-repeat center center;
  background-size: cover;
}
#converterPic
{
  background: url("../images/converter.png") no-repeat center center;
  background-size: cover;
}
#theHousePic
{
  background: url("../images/theHouse.png") no-repeat center center;
  background-size: cover;
}
#clickItPic
{
  background: url("../images/clickIt.png") no-repeat center center;
  background-size: cover;
}
#badgeText
{
  position: relative;
  margin-top: 2%;
  margin-bottom: 10%;
  font-size: 3em;
}
.badgePic
{
  width: 35vh;
  height: 45vh;
  display: inline-block;
  /*-moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;*/
  box-shadow: 0px 0px 30px 10px #000000;
}
#CL
{
  background: url("../images/CL.png") no-repeat center center;
  background-size: cover;
}
#jQueryUnits
{
  background: url("../images/jQueryUnits.png") no-repeat center center;
  background-size: cover;
}
#jQueryLessons
{
  background: url("../images/jQueryLessons.png") no-repeat center center;
  background-size: cover;
}
#jsUnits
{
  background: url("../images/jsUnits.png") no-repeat center center;
  background-size: cover;
}
#jsLessons
{
  background: url("../images/jsLessons.png") no-repeat center center;
  background-size: cover;
}
#git
{
  background: url("../images/git.png") no-repeat center center;
  background-size: cover;
}
#java
{
  background: url("../images/java.png") no-repeat center center;
  background-size: cover;
}
#htmlCssUnits
{
  background: url("../images/htmlCssUnits.png") no-repeat center center;
  background-size: cover;
}
#htmlCssLessons
{
  background: url("../images/htmlCssLessons.png") no-repeat center center;
  background-size: cover;
}
@media only screen and (max-device-width: 480px)
{
  body
  {
    /*background: url(../images/pattern.jpg) center center fixed;*/
    /*background-size: cover;*/
    /*background-size: contain;*/
  }
  #readmeTitle
  {
    top: 10vh;
    font-size: 3em;
    line-height: 120%;
  }
  #readmeText
  {
    /*top: 25vh;*/
    line-height: 100%;
    font-size: 1.5em;
  }
  .item
  {
    height: auto;
    text-align: center;
    display: block;
  }
  .mobileSpace
  {
    margin-bottom: 20%;
  }
  .topic
  {
    position: relative;
    display: block;
    width: 80vw;
    left: 10%;
    margin-bottom: 5%;
    border-right: 0;
    border-bottom: 3px solid #00e6ac;
  }
  #about
  {
    width: 30vw;
    height: 30vw;
  }
  .picPosition
  {
    position: relative;
    /*border-radius: 50%;*/
    font-size: 30vw;
    width: 30vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  .topicText
  {
    position: relative;
    font-size: 2em;
  }
  .text
  {
    position: relative;
    display: block;
    width: 80vw;
    left: 10%;
    font-size: 1.5em;
  }
  .title
  {
    font-size: 2em;
  }
  .pdf
  {
    width: 90%;
    height: 70%;
  }
  .badgePic
  {
    width: 40vh;
    height: 50vh;
  }
}
