:root
{
  /* -- */
}
body
{
  background-color: #000000;
  color: #ffffff;
  /* font-family: SF Pro Text,Myriad Set Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; */
  font-family: arial, sans-serif;
  /* text-align: center; */
}
#menu
{
  position: fixed;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: #000000;
  z-index: 100;
  /* opacity: 1; */
}
.menuItem
{
  display: inline-block;
  padding: 1%;
  font-size: 1em;
  color: #ffffff;
  /* float: right; */
}
.menuItem:hover
{
  color: #ffffff;
  font-style: underline;
  cursor: pointer;
}
.menuItem:visited
{
  color: #ffffff;
}
.icon
{
  font-size: 1.5em;
}
.about
{
  /* position: relative; */
  /* font-size: 2em; */
  /* width: 60%; */
  margin-top: 20vh;
  /* margin-left: 10%; */
  /* margin-bottom: 7%; */
  /* font-weight: 100; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
  /* background-image: url("images/me2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain; */
  text-align: left;
}
.about:first-child
{ 
  /* background-color: aqua; */
}
.text
{
  /* margin: auto; */
  /* text-align: center; */
}
#name
{
  font-size: 2.5em;
}
#pronunciation
{
  font-size: 1.5em;
}
#noun
{
  font-size: 1.2em;
  font-style: italic;
}
.desc
{
  font-size: 1.2em;
  line-height: 1.5;
}
#portfolio
{
  /* position: relative; */
  font-size: 1.5em;
  /* width: 100%; */
  margin-top: 6%;
  margin-bottom: 3%;
  /* background-color: #000000; */
  /* margin-left: 10%; */
}
.project
{
  /* position: relative; */
  /* min-width: 41vw; */
  /* width: 33vw; */
  /* min-height: 49vh; */
  /* max-width: 70vw; */
  height: 16.66vw;
  /* max-height: 33vw; */
  /* max-height: 50vw; */
  background-color: grey;
  border: 1px solid #ffffff;
  /* object-fit: fill; */
  margin-bottom: 5vh;
}
.projectLink
{
  /* margin-bottom: 3%; */
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
  color: #ffffff;
  padding-top: 10%;
  text-align: center;
  font-size: 1.5em;
}
.projectLink:hover
{
  cursor: pointer;
}
.background
{
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}
#wifiby
{
  background-image: url("images/wifiby.png");
}
#warrior
{
  background-image: url("images/warrior.png");
}
#maze
{
  background-image: url("images/maze.png");
}
#tic-tac-toe
{
  background-image: url("images/tic-tac-toe.png");
}
#mePic
{
  margin-top: 3%;
  background-image: url("images/me.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}